/* style.css */

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #333;
	color: #fff;
	font-family: Arial, sans-serif;

	text-align: center;
	font-size: 16px;
}

h1{
	font-size: 30px;
	padding: 3em 0;
}

h2{
	text-transform: uppercase;
	font-size: 18px;
	padding: 2em 0;
	color: #B3B3B3;
}

.container{
	width: 40%;
	margin: 0 auto;
}


/* Default Display - Normal Flow */
.example{
	background-color: #fff;
	padding: 3em;
	margin: 2em 0;
}

.parent{
	border: 5px solid lightcoral;
}

.item{
	background-color: deepskyblue;
	margin: 5px;
	font-weight: bold;
	line-height: 50px;
}


/* Display Flex */
.example-flex .parent{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
}

.example-flex .item{
	width: 50px;
}



/* Direction: Row/Column */
.example-direction .parent{
	display: flex;

	-webkit-flex-direction: column-reverse;
	   -moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		    flex-direction: column-reverse;
}

.example-direction .item{
	width: 50px;
}



/* Flex Wrap */
.example-wrap .parent{
	display: flex;

	flex-wrap: wrap;
}

.example-wrap .item{
	width: 150px;
}


/* Justify Content */
.example-justify .parent{
	display: flex;

	/* flex-start, flex-end, center, space-around, space-between */
	justify-content: space-between;
}

.example-justify .item{
	width: 50px;
}



/* Align Items */

.example-align-items .parent{
	display: flex;

	height: 200px;

	/* flex-start, flex-end, center */
	align-items: center;

	justify-content: center;
	flex-direction: row-reverse;
}

.example-align-items .item{
	width: 50px;
	height: 50px;
}



/* Align Content */
.example-align-content .parent{
	display: flex;

	height: 300px;

	flex-wrap: wrap;

	/* space-around, space-between */
	align-content: space-between;
}

.example-align-content .item{
	width: 150px;
	height: 50px;
}


/* Item Order */
.example-item-order .parent{
	display: flex;

	justify-content: space-between;
}

.example-item-order .item{
	width: 50px;
}

.example-item-order .item:nth-child(1){
	order: 4;
}

.example-item-order .item:nth-child(2){
	order: 5;
}

.example-item-order .item:nth-child(3){
	order: 1;
}

.example-item-order .item:nth-child(4){
	order: 3;
}

.example-item-order .item:nth-child(5){
	order: 2;
}



/* Flex Grow */

.example-grow .parent{
	display: flex;
}

.example-grow .item{
	flex-grow: 1;
}

.example-grow .item:nth-child(2){
	flex-grow: 2;
}

.example-grow .item:nth-child(4){
	flex-grow: 5;
}



/* Align Self */
.example-align-self .parent{
	display: flex;

	height: 200px;
}

.example-align-self .item{
	flex-grow: 1;
	height: 50px;
}

.example-align-self .item:nth-child(1){
	align-self: flex-start;
}

.example-align-self .item:nth-child(2){
	align-self: flex-end;
}

.example-align-self .item:nth-child(3){
	align-self: center;
}

.example-align-self .item:nth-child(4){
	align-self: flex-end;
}

.example-align-self .item:nth-child(5){
	align-self: stretch;
	height: auto;
}