<!DOCTYPE html>
<html>
	<head>
		<title>CSS Flexbox</title>

		<!-- style.css -->
		<link rel="stylesheet" type="text/css" href="layouts.css" />
	</head>
	<body>

		<div class="container">

			<!-- Flexbox -->
			<h1>Flexbox - New CSS layout proprety</h1>

			<!-- Default Layout / Normal Flow -->
			<div class="example">
				
				<h2>Default Display</h2>
				<div class="parent">
					<div class="item">1</div>
					<div class="item">2</div>
					<div class="item">3</div>
					<div class="item">4</div>
					<div class="item">5</div>
				</div>

			</div><!-- End of default -->


			<!-- Display Flex -->
			<div class="example example-flex">
				
				<h2>Display Flex</h2>
				<div class="parent">
					<div class="item">1</div>
					<div class="item">2</div>
					<div class="item">3</div>
					<div class="item">4</div>
					<div class="item">5</div>
				</div>

			</div><!-- End of Flex -->


			<!-- Row/Column -->
			<div class="example example-direction">
				
				<h2>Direction: Row/Column</h2>
				<div class="parent">
					<div class="item">1</div>
					<div class="item">2</div>
					<div class="item">3</div>
					<div class="item">4</div>
					<div class="item">5</div>
				</div>

			</div><!-- End of Flex -->



			<!-- Flex Wrap -->
			<div class="example example-wrap">
				
				<h2>Flex Wrap</h2>
				<div class="parent">
					<div class="item">1</div>
					<div class="item">2</div>
					<div class="item">3</div>
					<div class="item">4</div>
					<div class="item">5</div>
				</div>

			</div><!-- End of Wrap -->


			<!-- Justify Content -->
			<div class="example example-justify">
				
				<h2>Flex: Justify Content</h2>
				<div class="parent">
					<div class="item">1</div>
					<div class="item">2</div>
					<div class="item">3</div>
					<div class="item">4</div>
					<div class="item">5</div>
				</div>

			</div><!-- End of Justify Content -->



			<!-- Align Items -->
			<div class="example example-align-items">
				
				<h2>Flex: Align Items</h2>
				<div class="parent">
					<div class="item">1</div>
					<div class="item">2</div>
					<div class="item">3</div>
					<div class="item">4</div>
					<div class="item">5</div>
				</div>

			</div><!-- End of Align Items -->



			<!-- Align Content -->
			<div class="example example-align-content">
				
				<h2>Flex: Align Content</h2>
				<div class="parent">
					<div class="item">1</div>
					<div class="item">2</div>
					<div class="item">3</div>
					<div class="item">4</div>
					<div class="item">5</div>
				</div>

			</div><!-- End of Align Content -->



			<!-- Item Oreder -->
			<div class="example example-item-order">
				
				<h2>Flex: Item Order</h2>
				<div class="parent">
					<div class="item">1</div>
					<div class="item">2</div>
					<div class="item">3</div>
					<div class="item">4</div>
					<div class="item">5</div>
				</div>

			</div><!-- End of Item Order -->



			<!-- Flex Grow -->
			<div class="example example-grow">
				
				<h2>Flex Grow</h2>
				<div class="parent">
					<div class="item">1</div>
					<div class="item">2</div>
					<div class="item">3</div>
					<div class="item">4</div>
					<div class="item">5</div>
				</div>

			</div><!-- End of Flex Grow -->



			<!-- Align Self -->
			<div class="example example-align-self">
				
				<h2>Flex: Align Self</h2>
				<div class="parent">
					<div class="item">1</div>
					<div class="item">2</div>
					<div class="item">3</div>
					<div class="item">4</div>
					<div class="item">5</div>
				</div>

			</div><!-- End of Align Self -->


		</div><!-- End of .container -->

	</body>
</html>